<!-- <div class="md:flex md:h-3/6 bg-orange-100 text-amethyst">
    <div class="flex flex-col m-auto my-3">
        <p class="m-auto text-xl md:text-2xl lg:text-4xl">People are looking for friends with similar hobbies</p>
        <div class="flex flex-wrap content-center p-7" *ngIf="isServerRespondedWithData | async">
            <ng-container *ngFor="let interest of dataSource.data.interests; index as i">
                <a [routerLink]="['/search']" [queryParams]="{ interest: interest.name }" class="flex justify-center items-center m-1 font-medium py-5 px-7 rounded-full text-blue-700 bg-blue-100 border border-blue-300" *ngIf="i < 7">
                    <div class="text-lg font-normal leading-none max-w-full flex-initial">{{interest.name}}</div>
                </a>
            </ng-container>
        </div>
    </div>
</div> -->

<div class="md:flex md:h-3/6 bg-orange-100 text-amethyst">
    <div class="flex flex-col m-auto my-3">
        <p class="m-auto text-xl md:text-2xl lg:text-4xl">
            People are looking for friends with similar hobbies
        </p>
        <div class="flex flex-wrap content-center p-7 m-auto">
            <ng-container *ngFor="let interest of options; index as i">
                <a
                    [routerLink]="['/search']"
                    [queryParams]="{ interest: interest.name }"
                    class="flex justify-center items-center m-1 font-medium py-5 px-7 rounded-full text-blue-700 bg-blue-100 border border-blue-300"
                    *ngIf="i < 7"
                >
                    <div class="text-lg font-normal leading-none max-w-full flex-initial">
                        {{ interest.name }}
                    </div>
                </a>
            </ng-container>
            <a
                *ngIf="options.length >= 7"
                [routerLink]="['/hobbies']"
                class="flex justify-center items-center m-1 font-medium rounded-full text-blue-700"
            >
                <div class="text-lg font-normal leading-none max-w-full flex-initial">
                    Find more
                </div>
            </a>
        </div>
    </div>
</div>
