@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
//Angular Material menu appears at the end of the page, fix it by importing prr built theme
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */

html,
body {
    background-color: #f4d5b0;
}
