<header class="bg-bedrock p-4 flex justify-between items-center">
    <div class="flex items-center">
        <a [routerLink]="['/']">
            <img src="./../../../../favicon.ico" width="50" alt="Logo" class="mr-2" />
        </a>
        <a class="inline-block p-2 text-amethyst hover:text-orange-700 mr-2" [routerLink]="['/']"
            >Home</a
        >
        <a
            class="inline-block p-2 text-amethyst hover:text-orange-700 mr-2"
            [routerLink]="['/hobbies']"
            >Hobbies</a
        >
    </div>

    <div class="block" *ngIf="profile$ | async as profile; else notAuthenticated">
        <span class="p-2 text-amethyst hover:text-orange-700 mr-2 flex-wrap content-center flex">
            <ng-container *ngIf="profile.user.image !== null && profile.user.image.length > 0">
                <ng-container *ngFor="let image of profile.user.image">
                    <span class="rounded-full p-1" *ngIf="image.type === 'avatar'">
                        <span class="inline-block bg-yellow-500 p-1 rounded-full">
                            <img
                                [src]="
                                    image.link
                                        ? image.link
                                        : './../../../../assets/img/united-states-avatar-organization-information-png-favpng-J9DvUE98TmbHSUqsmAgu3FpGw.jpg'
                                "
                                alt="Logo"
                                class="h-10 w-10 rounded-full"
                                #img
                                (error)="
                                    img.src =
                                        './../../../../assets/img/united-states-avatar-organization-information-png-favpng-J9DvUE98TmbHSUqsmAgu3FpGw.jpg'
                                "
                            />
                        </span>
                    </span>
                    <span
                        class="rounded-full p-1"
                        *ngIf="image.type !== 'avatar' && image.type !== 'background'"
                    >
                        <span class="inline-block bg-yellow-500 p-1 rounded-full">
                            <img
                                src="./../../../../assets/img/united-states-avatar-organization-information-png-favpng-J9DvUE98TmbHSUqsmAgu3FpGw.jpg"
                                alt="Logo"
                                class="h-10 w-10 rounded-full"
                            />
                        </span>
                    </span>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="profile.user.image === null">
                <span class="rounded-full p-1">
                    <span class="inline-block bg-yellow-500 p-1 rounded-full">
                        <img
                            src="./../../../../assets//img//united-states-avatar-organization-information-png-favpng-J9DvUE98TmbHSUqsmAgu3FpGw.jpg"
                            alt="Logo"
                            class="h-10 w-10 rounded-full"
                        />
                    </span>
                </span>
            </ng-container>
            <a class="mr-2 m-auto">{{ username }}</a>
            <button class="m-auto" [matMenuTriggerFor]="menu">
                <fa-icon [icon]="faCaretDown"></fa-icon>
            </button>
            <mat-menu #menu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
                <a [routerLink]="['/profile', username]" mat-menu-item>Profile</a>
                <a [routerLink]="['/edit-profile']" mat-menu-item>Edit profile</a>
                <a mat-menu-item (click)="logout()">Log out</a>
            </mat-menu>
        </span>
    </div>

    <ng-template #notAuthenticated>
        <div class="block">
            <a
                class="inline-block p-2 text-amethyst hover:text-orange-700 mr-2"
                [routerLink]="['/login']"
                >Login</a
            >
            <a
                class="inline-block py-2 px-4 text-amethyst bg-yellow-400 hover:bg-yellow-300 hover:text-orange-700 rounded transition ease-in duration-150"
                [routerLink]="['/register']"
                >Sign Up</a
            >
        </div>
    </ng-template>
</header>
